{% extends 'base.html'%} {% block title%} SundayInk || Register {% endblock title%}


<!-- END section -->
{% block content%}

<!-- END section -->
<style>
    .single-content {
        display: flex;
        justify-content: center;
    }

    .pass-info {
        list-style: none;
        padding: 0 10px;
        margin: 5px 0;
    }

    .form-group input {
        border-bottom: 1px solid #9b9b9b7a !important;
        border-radius: 0 !important;
        padding: 0 10px !important;
        background-color: #b8b8b81c;
    }

    .oleez-login-form .form-group a:hover {
        color: rgb(211, 13, 13) !important;
    }

    .oleez-page-title #login-title {
        margin-bottom: 43px;
    }

    .oleez-login-form .form-group input+a {
        position: absolute;
        margin-bottom: 0;
        transition: all 0.3s ease;
    }

    .oleez-login-form .form-group input:focus {
        outline: none;
    }

    .oleez-login-form .form-group input {
        width: 100%;
    }

    .form-group input {
        border: 0;
        border-bottom: 2px solid #000000;
        padding: 9px 0;
        font-size: 15px;
        font-weight: 700;
    }

    .form-group {
        position: relative;
        margin-bottom: 30px;
    }

    .oleez-login-form a {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .li-pass-info {
        font-size: 15px;
    }

    @media (max-width:650px) {
        .li-pass-info {
            font-size: 12px;
        }
    }

    .bottom-space {
        margin-bottom: 100px!important;
    }
</style>
<!-- .site-wrap -->
<div class="bottom-space">
    <div class="container">
        <div class=" wow fadeInRight single-content">

            <form class="col-md-8" method="POST" enctype="multipart/form-data" style="font-size:large ;">
                <h1 class="oleez-page-title wow fadeInUp index-text" id="login-title">Register </h1>
                {% csrf_token%}
                <div class="form-group">
                    <a style="font-size: large;font-weight:500">Username</a>
                    <input type="text" class='form-control' style='border-style: outset;' name='username'>
                </div>
                <div class="form-group">
                    <a style="font-size: large;font-weight:500">First Name </a>
                    <input type="text" class='form-control' style='border-style: outset;' name='fname'>

                </div>
                <div class="form-group">
                    <a style="font-size: large;font-weight:500">Last Name</a>
                    <input type="text" class='form-control' style='border-style: outset;' name='lname'>

                </div>
                {% comment %} <div class="form-group">
                    <a style="font-size: large;font-weight:500">Mobile Number</a>{{form.email}}
                </div> {% endcomment %}
                <div class="form-group">
                    <a style="font-size: large;font-weight:500">E-Mail</a>
                    <input type="email" class='form-control' style='border-style: outset;' name='email'>

                </div>
                <div class="form-group">
                    <a style="font-size: large;font-weight:500">Password</a>
                    <input type="text" class='form-control' style='border-style: outset;' name='pass1'>

                    <details>
                        <summary>Password Warning</summary>
                        <ul class="pass-info" style="list-style: none;">
                            <li class="li-pass-info">Your Password can't be similar to your other personal information. </li>
                            <li class="li-pass-info">Your Password contains at least 8 characters.</li>
                            <li class="li-pass-info">Your Password can't be a commonly used password.</li>
                            <li class="li-pass-info">Your Password can't be be entirely Numeric.</li>
                        </ul>
                    </details>
                </div>
                <div class="form-group">
                    <a style="font-size: large;font-weight:500">Confirm Password</a>
                    <input type="Password" class='form-control' style='border-style: outset;' name='pass2'>

                    <a class="li-pass-info" style="margin: 15px;">Enter same Password as before, for verification.</a>
                    <details>
                        <summary>Password Warning</summary>
                        <a class="li-pass-info" style="margin: 15px;">Enter same Password as before, for verification.</a>
                    </details>
                </div>
                <div class="form-group  p-2">
                    <button class="btn defaul-btn"> Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Footer Starts from here -->


  <footer class="page-footer font-small special-color-dark pt-4">

        <div class="container">

            <div class="row footer-content-2">
                <div class="col-md-8 align-items-center">

                    <div class="footer-widget-text">

                        <ul class="footer-navigatoin">
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'about'%}">About</a></li>
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'blogs' %}">Blogs</a></li>
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'f&q'%}">FAQs</a>
                            </li>
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'contact'%}">Contact</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'logout'%}">Logout</a>
                            </li>
                            {% else %}
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'register'%}">Register</a>
                            </li>
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'login'%}">Login</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>


                <div class="col-md-4 search-footer-center">
                    <form class="form-inline flex-search" action="{% url 'search' %}">
                        <input class="form-control form-control-sm mr-3 w-75 footer-search" type="text" id="search" name="search" placeholder="Search" aria-label="Search">
                        <button class="btn footer-icon" type="submit"> <i class="bi bi-search footer-icon " aria-hidden="true "></i></button>
                    </form>
                </div>
            </div>
            <div class="footer-text ">
                <p class="mb-md-0 ">© Copyright And Privacy Policy Reserved by <a class="footer-link-sernik-2" href="">SundayInk</a> <span id="monthYear" class="">March 2022</span>,
                    <span class="below-small"> website designed by <a href="https://www.himanicc.com " target="_blank " rel="noopener noreferrer " class="footer-link-sernik" style="color: white; font-weight:600; ">www.himanicc.com</a></span>
                </p>
            </div>
        </div>
    </footer>


{% endblock content%}