{% extends 'base.html' %} {% block title %} SundayInk || NotFound{% endblock title %} {% block content %}

<style>
    @media(max-width:552px) {
        .error-mobile {
            color: rgb(179, 16, 16) !important;
            font-size: 70px !important;
        }
        .error-description {
            color: black !important;
            font-size: 18px !important;
        }
        .go-back {
            color: black !important;
            font-weight: bold;
        }
    }
</style>

<body>


    <main class="error-page">
        <div class="container">
            <img class="">
            <h1 class="error-code wow fadeInUp error-mobile">Oops!</h1>
            <p class="error-description wow fadeInUp" style="color:rgb(179, 16, 16);">The page your are looking for
                <b>does not exist.</b> It might have been removed or deleted.Go back to
                <a class="go-back" href="{% url 'blog' %}">Home Page</a>
            </p>
        </div>
    </main>



  <footer class="page-footer font-small special-color-dark pt-4">

        <div class="container">

            <div class="row footer-content-2">
                <div class="col-md-8 align-items-center">

                    <div class="footer-widget-text">

                        <ul class="footer-navigatoin">
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'about'%}">About</a></li>
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'blogs' %}">Blogs</a></li>
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'f&q'%}">FAQs</a>
                            </li>
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'contact'%}">Contact</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'logout'%}">Logout</a>
                            </li>
                            {% else %}
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'register'%}">Register</a>
                            </li>
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'login'%}">Login</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>


                <div class="col-md-4 search-footer-center">
                    <form class="form-inline flex-search" action="{% url 'search' %}">
                        <input class="form-control form-control-sm mr-3 w-75 footer-search" type="text" id="search" name="search" placeholder="Search" aria-label="Search">
                        <button class="btn footer-icon" type="submit"> <i class="bi bi-search footer-icon " aria-hidden="true "></i></button>
                    </form>
                </div>
            </div>
            <div class="footer-text ">
                <p class="mb-md-0 ">© Copyright And Privacy Policy Reserved by <a class="footer-link-sernik-2" href="">SundayInk</a> <span id="monthYear" class="">March 2022</span>,
                    <span class="below-small"> website designed by <a href="https://www.himanicc.com " target="_blank " rel="noopener noreferrer " class="footer-link-sernik" style="color: white; font-weight:600; ">www.himanicc.com</a></span>
                </p>
            </div>
        </div>
    </footer>
</body>
{% endblock content %}