{% extends 'base.html' %} {% block title %} SundayInk || About Us{% endblock title %} {% block content %}
<style>
    @media(max-width:552px) {
        .navigation-link {
            font-size: 12px!important;
        }
    }
</style>

<body>
    <main class="about-page">
        <div class="container">
            <h1 class="oleez-page-title wow fadeInUp index-text">About -<span style="font-family: 'myMontSemibold';">Sunday</span><span style="color: red;font-family: 'myMontSemibold';" >Ink</span></h1>
            <!-- <p class="oleez-page-header-content wow fadeInUp">A design and development agency based in London. We create digital products that make people’s lives easier.</p> -->

            <div class="mb-5 mb-md-0 feature-card wow fadeInUp">

                <p class="feature-card-content para">At the outset came across thought to cherish the experiences way coming in journey as Knowledge Increases by Sharing & not by saving. Hence <span style="    font-family: 'myMontSemibold';;" >Sunday<span style="color: red;" >Ink</span></span> came in light as medium to SHARE to Grow. </p>
                <p class="para">We all will be surprised with the name <span style="    font-family: 'myMontSemibold';;" >SUNDAY </span>but to unfold & paint the experiences during pleasant time best time was <span style="    font-family: 'myMontSemibold';" >SUNDAY.</span></p>
            </div>
            <!-- <img src="/media/images/2.jfif" alt="about" class="w-100 wow fadeInUp"> -->

            <section class="oleez-what-we-do">
                <div class="row">
                    <div class="col-lg-10 ">
                        <!-- <h2 class="section-title wow fadeInUp">What we do</h2> -->
                        <h4 class="section-subtitle wow fadeInUp heading-semi-bold">Obvious question to each of mind will be Why to read Sunday<span style="color: red;" >Ink</span> </h4>
                        <div class="row">
                            <div class="col-md-12 mb-5 mb-md-0 wow fadeInUp">
                                <!-- <h5 class="what-we-do-list-title">Market Research</h5> -->
                                <ul class="what-we-do-list">
                                    <li>It brings the aura of experiences in varied facet of fields by inviting the experts to share their unique experiences with our readers community</li>
                                    <li>It works with the standard prototype with dynamics in the experiences to make it interesting for the reader. </li>
                                    <li>It nurtures the experiences with an testify model </li>
                                    <li>It synergizes the value additions in the services /areas provided by classified professionals</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="break-50px"></div>

                    <div class="col-lg-10 ">
                        <!-- <h2 class="section-title wow fadeInUp">What we do</h2> -->
                        <h4 class="section-subtitle wow fadeInUp heading-semi-bold">Benefit of reading Sunday<span style="color: red;" >Ink</span></h4>
                        <div class="row">
                            <div class="col-md-12 mb-5 mb-md-0 wow fadeInUp">
                                <!-- <h5 class="what-we-do-list-title">Market Research</h5> -->
                                <ul class="what-we-do-list">
                                    <li>It brings the new and innovative solutions on table to adopt in your own business world</li>
                                    <li>It brings the different business rules and theories which can be an game changer for company</li>
                                    <li>It brings the different EYE perspective to the growing business </li>
                                    <li>It brings the uniqueness by focusing on topics related to business in given time scenario</li>
                                    <li>It ensures the knowledge to be capitalized for indefinite period</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="break-50px"></div>
                    <div class="col-lg-10 ">
                        <!-- <h2 class="section-title wow fadeInUp">What we do</h2> -->
                        <h4 class="section-subtitle wow fadeInUp heading-semi-bold">Take Away of Sunday<span style="color: red;" >Ink</span></h4>
                        <div class="row">
                            <div class="col-md-12 mb-5 mb-md-0 wow fadeInUp">
                                <!-- <h5 class="what-we-do-list-title">Market Research</h5> -->
                                <ul class="what-we-do-list">
                                    <li>"treasure box of knowledge culminating from experiences" </li>
                                    <li>"Worm eye view" on multiple aspects affecting the business</li>
                                    <li>"Quick Guide Tool" </li>
                                    <li>"reader choice of comments to be part of EPIC shared by experts"</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>



            </section>
            <br/>
            <br/>
            <!-- <section class="oleez-about-work-with-us wow fadeInUp">
                <div class="row">
                    <div class="col-lg-9 offset-lg-1">
                        <h2 class="section-title">We design thoughtful digital experiences & beautiful brand aesthetics.</h2>
                        <p class="section-subtitle">Would you like us to <a href="#!">work</a> on your brand identity? We would be happy to <a href="#!">help</a>.</p>
                        <a href="#!" class="btn work-with-us-btn default-button">Work with us</a>
                    </div>
                </div>
            </section> -->
        </div>
    </main>
    <!-- Footer : Updated || ----------------------------------------------------------------------------------------------------------------- -->
    <footer class="page-footer font-small special-color-dark pt-4">

        <div class="container">

            <div class="row footer-content-2">
                <div class="col-md-8 align-items-center">

                    <div class="footer-widget-text">

                        <ul class="footer-navigatoin">
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'about'%}">About</a></li>
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'blogs' %}">Blogs</a></li>
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'f&q'%}">FAQs</a>
                            </li>
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'contact'%}">Contact</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'logout'%}">Logout</a>
                            </li>
                            {% else %}
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'register'%}">Register</a>
                            </li>
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'login'%}">Login</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>


                <div class="col-md-4 search-footer-center">
                    <form class="form-inline flex-search" action="{% url 'search' %}">
                        <input class="form-control form-control-sm mr-3 w-75 footer-search" type="text" id="search" name="search" placeholder="Search" aria-label="Search">
                        <button class="btn footer-icon" type="submit"> <i class="bi bi-search footer-icon " aria-hidden="true "></i></button>
                    </form>
                </div>
            </div>
            <div class="footer-text ">
                <p class="mb-md-0 ">© Copyright And Privacy Policy Reserved by <a class="footer-link-sernik-2" href="">SundayInk</span></a> <span id="monthYear" class="">March 2022</span>,
                    <span class="below-small"> website designed by <a href="https://www.himanicc.com " target="_blank " rel="noopener noreferrer " class="footer-link-sernik" style="color: white; font-weight:600; ">www.himanicc.com</a></span>
                </p>
            </div>
        </div>
    </footer>

</body>

{% endblock content %}