{% extends 'base.html' %} {% block title %} Sundayink || FAQs{% endblock title %} {% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
<style>
    body {
        min-height: 100vh;
    }

    @media (max-width:552px) {
        body {
            min-height: 92vh;
        }
    }
</style>
<main>
    <!-- This is FAQ Section || ---------------------------------------------------------------------------------------------------------------------- -->
    <section class="container my-5" id="maincontent">
        <section id="accordion" class="col-12 mx-auto">
            <h1 class="mt-5 index-text" id="title-faq">FAQs</h1>
            <!-- FAQ 1 -->
            <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-17" aria-expanded="false" data-toggle="collapse" href="#faq-17" role="button">
                <div class="position-relative">
                    <h2 class="heading-semi-bold m-0 pr-3" id="head-content">
                        What is Sunday<span style="color: red;" >Ink</span>?
                    </h2>
                    <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                        <i class="fa fa-plus"></i>
                    </div>
                </div>
            </a>
            <div class="collapse" id="faq-17">
                <div class="card card-body border-0 p-2">
                    <p class="faq-content">The idea of enriching the experience to shower the concept of we share & we grow 2gether.</p>

                </div>
            </div>
            <!-- FAQ 2 -->
            <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-18" aria-expanded="false" data-toggle="collapse" href="#faq-18" role="button">
                <div class="position-relative">
                    <h2 class="heading-semi-bold m-0 pr-3" id="head-content">
                        Why Sunday<span style="color: red;" >Ink</span>?
                    </h2>
                    <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                        <i class="fa fa-plus"></i>
                    </div>
                </div>
            </a>
            <div class="collapse" id="faq-18">
                <div class="card card-body border-0 p-2">
                    <p>Basically to invest a few mins peacefully on reading & inhale the experience </p>
                </div>
            </div>
            <!-- FAQ 3 -->
            <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-19" aria-expanded="false" data-toggle="collapse" href="#faq-19" role="button">
                <div class="position-relative">
                    <h2 class="heading-semi-bold m-0 pr-3" id="head-content">
                        How does it help?
                    </h2>
                    <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                        <i class="fa fa-plus"></i>
                    </div>
                </div>
            </a>
            <div class="collapse" id="faq-19">
                <div class="card card-body border-0 p-2">
                    <p>We share our experiences and approaches considering dynamics in the business environment and helping to increase the size and width of business CAPSULE.</p>
                </div>
            </div>
            <!-- FAQ 4 -->
            <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-20" aria-expanded="false" data-toggle="collapse" href="#faq-20" role="button">
                <div class="position-relative">
                    <h2 class="heading-semi-bold m-0 pr-3" id="head-content">
                        Objective of Sunday<span style="color: red;" >Ink</span>?
                    </h2>
                    <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                        <i class="fa fa-plus"></i>
                    </div>
                </div>
            </a>
            <div class="collapse" id="faq-20">
                <div class="card card-body border-0 p-2">
                    <p>Backed Objective is to have MULTIPLIER experiences and LEARN from experiences & HARNESS on experiences.</p>
                </div>
            </div>
            <!-- FAQ 5 -->
            <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-20" aria-expanded="false" data-toggle="collapse" href="#faq-21" role="button">
                <div class="position-relative">
                    <h2 class="heading-semi-bold m-0 pr-3" id="head-content">
                        Who is it for?


                    </h2>
                    <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                        <i class="fa fa-plus"></i>
                    </div>
                </div>
            </a>
            <div class="collapse" id="faq-21">
                <div class="card card-body border-0 p-2">
                    <p>Welcoming people from every discipline and culture who seek a deeper understanding in the specialized zones.</p>
                </div>
            </div>
            <!-- FAQ 6 -->
            <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-20" aria-expanded="false" data-toggle="collapse" href="#faq-22" role="button">
                <div class="position-relative">
                    <h2 class="heading-semi-bold m-0 pr-3" id="head-content">
                        How to connect us?
                    </h2>
                    <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                        <i class="fa fa-plus"></i>
                    </div>
                </div>
            </a>
            <div class="collapse" id="faq-22">
                <div class="card card-body border-0 p-2">
                    <p>To get insight Every Sunday you can visit our website and to connect you can register or subscribe to our blog. </p>
                </div>
            </div>
            <!-- FAQ 7 -->
            <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-20" aria-expanded="false" data-toggle="collapse" href="#faq-23" role="button">
                <div class="position-relative">
                    <h2 class="heading-semi-bold m-0 pr-3" id="head-content">
                        Whether this platform is safe or not?
                    </h2>
                    <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                        <i class="fa fa-plus"></i>
                    </div>
                </div>
            </a>
            <div class="collapse" id="faq-23">
                <div class="card card-body border-0 p-2">
                    <p>Yes it’s safe platform </p>
                </div>
            </div>
            <!-- FAQ 8 -->
            <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-20" aria-expanded="false" data-toggle="collapse" href="#faq-24" role="button">
                <div class="position-relative">
                    <h2 class="heading-semi-bold m-0 pr-3" id="head-content">
                        What is the use of register and login page
                    </h2>
                    <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                        <i class="fa fa-plus"></i>
                    </div>
                </div>
            </a>
            <div class="collapse" id="faq-24">
                <div class="card card-body border-0 p-2">
                    <p>To stay up to date with our blog posts, simply register on our website, it will notify you whenever a new blog post is published. You may also comment on our posts by registering.</p>
                </div>
            </div>
            <!-- FAQ 9 -->


        </section>
    </section>
</main>

<footer class="page-footer font-small special-color-dark pt-4">

    <div class="container">

        <div class="row footer-content-2">
            <div class="col-md-8 align-items-center">

                <div class="footer-widget-text">

                    <ul class="footer-navigatoin">
                        <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'about'%}">About</a></li>
                        <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'blogs' %}">Blogs</a></li>
                        <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'f&q'%}">FAQs</a>
                        </li>
                        <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'contact'%}">Contact</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'logout'%}">Logout</a>
                        </li>
                        {% else %}
                        <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'register'%}">Register</a>
                        </li>
                        <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'login'%}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>


            <div class="col-md-4 search-footer-center">
                <form class="form-inline flex-search" action="{% url 'search' %}">
                    <input class="form-control form-control-sm mr-3 w-75 footer-search" type="text" id="search" name="search" placeholder="Search" aria-label="Search">
                    <button class="btn footer-icon" type="submit"> <i class="bi bi-search footer-icon " aria-hidden="true "></i></button>
                </form>
            </div>
        </div>
        <div class="footer-text ">
            <p class="mb-md-0 ">© Copyright And Privacy Policy Reserved by <a class="footer-link-sernik-2" href="">SundayInk</a> <span id="monthYear" class="">March 2022</span>,
                <span class="below-small"> website designed by <a href="https://www.himanicc.com " target="_blank " rel="noopener noreferrer " class="footer-link-sernik" style="color: white; font-weight:600; ">www.himanicc.com</a></span>
            </p>
        </div>
    </div>
</footer>

{% endblock content %}