{% extends 'base.html' %} {% block title %} SundayInk || Home {% endblock title %} {% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

<body>

    <main>

        <!-- Top Indes Slider Code Starts from here || ------------------------------------------------------------------------------------------------------------------------------------------- -->
        <section class="top-banner">
            <div class="container wow fadeIn">
                <div id="carouselExampleIndicators" class="oleez-landing-carousel carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://images.unsplash.com/photo-1551836022-d5d88e9218df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="First slide" class="w-100">
                            <div class="carousel-caption">
                                <h2 data-animation="animated fadeInRight"><span class="index-text">Welcome to</span></h2>
                                <h2 data-animation="animated fadeInRight"><span class="index-text">Sundayink</span></h2>
                                <a href="{% url 'blogs' %}" class="carousel-item-link" data-animation="animated fadeInRight">EXPLORE
                                    BLOGS</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://images.unsplash.com/photo-1588600878108-578307a3cc9d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80" alt="Second slide" class="w-100">
                            <div class="carousel-caption">
                                <h2 data-animation="animated fadeInRight"><span class="index-text">We Deliver Great</span></h2>
                                <h2 data-animation="animated fadeInRight"><span class="index-text">Experience</span></h2>
                                <a href="{% url 'blogs' %}" class="carousel-item-link" data-animation="animated fadeInRight">EXPLORE
                                    BLOGS</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="Third slide" class="w-100">
                            <div class="carousel-caption">
                                <h2 data-animation="animated fadeInRight"><span class="index-text">Quick Guide</span></h2>
                                <h2 data-animation="animated fadeInRight"><span class="index-text">Tool</span></h2>
                                <a href="{% url 'blogs' %}" class="carousel-item-link" data-animation="animated fadeInRight">EXPLORE
                                    BLOGS</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://images.unsplash.com/photo-1543269865-cbf427effbad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Fourth slide" class="w-100">
                            <div class="carousel-caption">
                                <h2 data-animation="animated fadeInRight"><span class="index-text">Treasure box of knowledge culminating</span></h2>
                                <h2 data-animation="animated fadeInRight"><span class="index-text"> from experiences</span></h2>
                                <a href="{% url 'blogs' %}" class="carousel-item-link" data-animation="animated fadeInRight">EXPLORE
                                    BLOGS</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://images.unsplash.com/photo-1554415707-6e8cfc93fe23?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Fifth slide" class="w-100">
                            <div class="carousel-caption">
                                <h2 data-animation="animated fadeInRight"><span class="index-text">The paint of experiences </span></h2>
                                <h2 data-animation="animated fadeInRight"><span class="index-text">on every Sunday</span></h2>
                                <a href="{% url 'blogs' %}" class="carousel-item-link" data-animation="animated fadeInRight">EXPLORE
                                    BLOGS</a>
                            </div>
                        </div>

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </section>


        <!-- Services Section starts from here || ----------------------------------------------------------------------------------------------------------------------------------------------- -->


        <section class="oleez-landing-section oleez-landing-section-about">
            <div class="container">
                <div class="oleez-landing-section-content">
                    <h3 class="indent index-text" style="margin-bottom:20px">About Sunday<span style="color: red;" >Ink</span></h3>
                    <div class="row landing-about-content wow fadeInUp">
                        <div class="col-md-6">
                            <p class="main-para">Born from the idea of enriching the experience to shower the concept of <span style="    font-family: 'myMontSemibold';;" >we share & we grow together</span>. </p>
                            <p class="main-para">Basically to invest a few minutes peacefully on reading & inhaling the experience <span style="    font-family: 'myMontSemibold';;" >every Sunday</span>.</p>
                        </div>
                        <div class="col-md-6">
                            <p class="main-para">Welcoming people from every discipline and culture who seek a deeper understanding in the <span style="    font-family: 'myMontSemibold';;" >specialized zones</span>.</p>
                            <p class="main-para">We believe passionately in the <span style="    font-family: 'myMontSemibold';;" >power</span> of expereience in the business world. Our agenda is to make <span style="    font-family: 'myMontSemibold';;" >great experiences accessible</span>.
                            </p>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-4 landing-about-feature wow fadeInUp">
                            <span class="index-service-icon"> <i class="bi bi-diamond "></i></span>

                            <h5 class="about-feature-title">Clarity</h5>
                            <p class="about-feature-description">Absolute certainty of your business vision and direction ensures fewer challenges, lower stress, and a happier you.</p>
                        </div>
                        <div class="col-md-4 landing-about-feature wow fadeInUp">
                            <span class="index-service-icon"> <i class="bi bi-eye "></i></span>
                            <h5 class="about-feature-title">Focus
                            </h5>
                            <p class="about-feature-description">Understand the actions needed to achieve your vision results with less overwhelm and better execution.
                            </p>
                        </div>
                        <div class="col-md-4 landing-about-feature wow fadeInUp">
                            <span class="index-service-icon"> <i class="bi bi-puzzle "></i></span>
                            <h5 class="about-feature-title">Strategy</h5>
                            <p class="about-feature-description">Alignment between your vision, mission, and competitive advantage cinches your ability to achieve your goals.</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>



        <!-- Blog Cards Code starts fromm here || ------------------------------------------------------------------------------------------------------------------------------------------------- -->

        <section class="oleez-landing-section oleez-landing-section-news" style="background-color: #f7f7f799;">
            <div class="container">
                <div class="">
                    <h2 class="section-title wow fadeInUp index-text" style="margin-bottom:20px">Recent Sunday Stories</h2>
                    <!-- <p class="news-section-subtitle wow fadeInUp">Share your stories and news with everyone.</p> -->
                    <div class="row">
                        {% for post in posts %}
                        <div class="col-lg-4 mb-4 mb-lg-0">
                            <a class="main-para" href="{% url 'blog' post.post_id %}" style="color: white!important; text-decoration: none;">
                                <div class="news-card news-card-1 wow fadeInUp">
                                    <div class="card-body">
                                        <div class="author-info media">

                                            <div class="media-body">
                                                <h6 class="author-name main-para">Posted by {{post.writer_name}}</h6>
                                                <p class="news-post-date main-para">{{post.post_date}}</p>
                                            </div>
                                        </div>
                                        <div class="post-meta main-para">
                                            {% for tag in post.tags.all %}
                                            <span class="post-category" style="color: white; font-weight:100;">#{{tag}}
                                            </span> {% endfor %}
                                        </div>
                                        <h5 class="post-title para-bold" style="color: white!important;">{{post.title}}</h5>
                                        <a href="{% url 'blog' post.post_id %}" class="post-permalink">Read more </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>


        <!--  Testimonial Code starts from here || ------------------------------------------------------------------------------------------------------------------------------------ -->
        <section class="oleez-landing-section oleez-landing-section-testimonials">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ">
                        <h2 class="section-title wow fadeInUp index-text text-center " style="margin-bottom:20px">Testimonials</h2>
                        <!-- <p class="news-section-subtitle wow fadeInUp">Clients Testimonial & Our Reviews</p> -->
                        <div id="testimonial-slider" class="owl-carousel">
                            <div class="testimonial">
                                <p class="testimonial-center">
                                    It’s a wonderful concept to increase the horizon of knowledge by sharing your enriching experience.
                                </p>
                            </div>

                            <div class="testimonial">
                                <p class="testimonial-center">
                                    Superb way of portraying experiences and sharing with us...looking forward to know more
                                </p>
                            </div>

                            <div class="testimonial">
                                <p class="testimonial-center">
                                    Deep mindful thought of using the knowledge best apt way
                                </p>
                            </div>

                            <div class="testimonial">
                                <p class="testimonial-center">
                                    Other Experience and observations is also experience hence proven correct by reading sundayInk
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
        </section>
    </main>


    <!-- Footer Starts From Here || ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
    <footer class="page-footer font-small special-color-dark pt-4">

        <div class="container">

            <div class="row footer-content-2">
                <div class="col-md-8 footer-content-3 ">

                    <div class="footer-widget-text">

                        <ul class="footer-navigatoin">
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'about'%}">About</a></li>
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'blogs' %}">Blogs</a></li>
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'f&q'%}">FAQs</a>
                            </li>
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'contact'%}">Contact</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'logout'%}">Logout</a>
                            </li>
                            {% else %}
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'register'%}">Register</a>
                            </li>
                            <li class="Footer-list"> <a class="widget-content navigation-link" href="{% url 'login'%}">Login</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>


                <div class="col-md-4 search-footer-center">
                    <form class="form-inline flex-search" action="{% url 'search' %}">
                        <input class="form-control form-control-sm mr-3 w-75 footer-search" type="text" id="search" name="search" placeholder="Search" aria-label="Search">
                        <button class="btn footer-icon" type="submit"> <i class="bi bi-search footer-icon " aria-hidden="true "></i></button>
                    </form>
                </div>
            </div>
            <div class="footer-text">
                <p class="mb-md-0">© Copyright And Privacy Policy Reserved by <a class="footer-link-sernik-2" href="">SundayInk</a> <span id="monthYear" class="">March 2022</span>,
                    <span class="below-small"> website designed by <a href="https://www.himanicc.com " target="_blank " rel="noopener noreferrer " class="footer-link-sernik" style="color: white; font-weight:600; ">www.himanicc.com</a></span>
                </p>
            </div>
        </div>
    </footer>

</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
<script>
    $(document).ready(function() {
        $("#testimonial-slider").owlCarousel({
            items: 1,
            itemsDesktop: [1000, 1],
            itemsDesktopSmall: [979, 1],
            itemsTablet: [768, 1],
            pagination: true,
            navigation: true,
            navigationText: ["", ""],
            slideSpeed: 1000,
            autoPlay: true
        });
    });
</script>

{% endblock content %}